@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    @apply font-sans text-slate-800 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  .dark body,
  body:is(.dark *) {
    @apply text-slate-200;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 8px; height: 8px; }
  .scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-slate-300 rounded; }
  .scrollbar-thin::-webkit-scrollbar-track { @apply bg-transparent; }
  .dark .scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-slate-600; }
}
